.App {
  text-align: center;
  display: flex;
  flex-flow: column;
}

.cell-array {
  height: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 50px;
}

.cell-row {
  height: auto;
  display: flex;
  justify-content: space-between;
}

.cell {
  border: 1px solid black;
  background: red;
  min-width: 50px;
  min-height: 50px;
}

.alive {
  background: green;
}


.bottom-form {
  height: 50%;
  margin: 0 auto;
}

.button-panel {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 10px auto;
  min-width: 250px;
}

.bottom-form form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.bottom-form form input, .bottom-form form button {
  margin-bottom: 10px;
}